@import './styles/border-radii.css';

@font-face {
  font-family: 'DM Sans';
  src:
    url('./assets/fonts/DMSans-Light.woff2?no-inline') format('woff2'),
    url('./assets/fonts/DMSans-Light.woff?no-inline') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src:
    url('./assets/fonts/DMSans-Regular.woff2?no-inline') format('woff2'),
    url('./assets/fonts/DMSans-Regular.woff?no-inline') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src:
    url('./assets/fonts/DMSans-Medium.woff2?no-inline') format('woff2'),
    url('./assets/fonts/DMSans-Medium.woff?no-inline') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src:
    url('./assets/fonts/DMSans-Bold.woff2?no-inline') format('woff2'),
    url('./assets/fonts/DMSans-Bold.woff?no-inline') format('woff');
  font-weight: bold; /* bold */
  font-style: normal;
  font-display: swap;
}
